.head {
  background-image: url(Image/FK4.png);
  background-size: cover;
  margin: 0;
  padding: 0;
  color: white;
      }

h2, p {
  margin: 10px;
      }

.head hr{
  border: 1px solid white;
        }

.navbar {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: white;
        }

.navbar li {
  float: left;
          }

.navbar li a {
  font-weight: bold;
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
              }

ul li a:hover {
  color: rgb(40, 216, 169);
              }

p.one {
  font-size: 30px;
  word-spacing: 100px;
       }

p.two {
  font-size: 15px;
  word-spacing: 100px;
      }

.programs {
  background-color: rgb(40, 216, 169);
  padding: 10px;
          }

footer {
  text-align: center;
        }
